{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}
{% block monTitre %}Page d'administration{% endblock %}

{% block body %}
<a href="#" class="btn btn-success">Ajouter</a>

<table class="table">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	{% for aliment in aliments %}
		<tr>
			<td>{{aliment.}}</td>
			<td></td>
			<td></td>
		</tr>
	{% endfor %}
		

	</tbody>
</table>

</tr>
		{% for aliment in aliments %}
		<tr>
			
			</tr>
		{% endfor %}
	</div>


{% endblock %}

