{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}
{% block monTitre %}Page d'administration
{% endblock %}

{% block body %}
	<a href="#" class="btn btn-success">Ajouter</a>

	<table class="table">
		<thead>
			<tr>
				<th>Image</th>
				<th>Nom</th>
				<th>Prix</th>
			</tr>
		</thead>
		<tbody>
			{% for aliment in aliments %}
				<tr>
					<td><img src="{{ asset('images/' ~ aliment.image) }}" class="persoImgAdmin"></td>
					<td>{{ aliment.nom }}</td>
					<td>{{ aliment.prix }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
