{% extends 'base.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block monTitre %}Page non trouvée{% endblock %}
{% block body %}
<p>La page demandée n'existe pas : Voir les détails de l'erruer</p>
<h2> 
{% endblock %}
