{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block monTitre %}Inscription{% endblock %}

{% block body %}
<p>La page demandée n'existe pas : Voir les détails de l'erreur</p>
<h2>Détails :</h2> 
{% endblock %}

